:root {
 --max-width-size:1440px;
 --width-container:1200px;
 --height:768px;
 --heigh-container:650px;
 --min-height: 100vh;
 --background-color:hsl(257, 40%, 49%);
 --color-main:hsl(257, 40%, 49%);
 --background-color-btn-register:hsl(300, 69%, 71%);
 --color-social:hsl(300, 69%, 71%);
 --color-white:#fff;
 --width-responsise: 25rem;
 --height-responsive: 4.6rem;
}